body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.event-container {
    max-width: 90%;
    margin-top: -40px;
    margin-left: 90px;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.event-card {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.event-date {
    width: 100px;
    height: 100px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.event-details {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.event-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.college {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.event-day {
    font-size: 16px;
    color: #666;
}

/* .event-card:hover{
    scale: 1.1;
} */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-effect {
    animation: fade-in 1s ease-in-out;
}